<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Admin</title>
</head>
<body>
    <form action="{% url 'administrador' %}"></form>
    <h1>Bem Vindo</h1>
    <table border="5px" width="400px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome Do Curso</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        {% for value in cursos %}
        <tbody>
            <tr>
                <th scope="row">{{ value.id }}</th> 
                <td>{{ value.nome_curso }}</td>
                <td>{{ value.data }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <table border="5px" width="400px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Experiencias</th>
                <th scope="col">Local</th>
            </tr>
        </thead>
        {% for value in experiencias %}
        <tbody>
            <tr>
                <th scope="row">{{ value.id }}</th> 
                <td>{{ value.cargo }}</td>
                <td>{{ value.local }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
        </table>
    <table border="5px" width="400px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ User.nome }}</th> 
            </tr>
        </tbody>
    </table>
</body>
</html>