{% extends 'base.html' %}  
{% load static %} 
{% block content %}

    <!-- Title Page-->
    <title>Porto de Imbituba | RH</title>
    <!-- Icons font CSS-->
    <link
      href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}"
      rel="stylesheet"
      media="all"
    />
    <link
      href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}"
      rel="stylesheet"
      media="all"
    />
    <!-- Font special for pages-->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all" />
    <link
      href="{% static 'vendor/datepicker/daterangepicker.css' %}"
      rel="stylesheet"
      media="all"
    />

    <!-- Main CSS-->
    <link href="{% static 'styles/register.css' %}" rel="stylesheet" media="all" />
  </head>

  <body>
    <div class="form-center">
      <div class="form-width">
        <form class="row g-3">
          <h2 class="text-center mb-3 fw-bold">Faça seu login!</h2>
          <div class="col-md-12">
            <label for="cpf" class="form-label">CPF</label>
            <input
              type="text"
              class="form-control"
              id="cpf"
              name="cpf"
              required
            />
          </div>
          <div class="col-md-12">
            <label for="password" class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary col-12">Entrar</button>
          </div>
        </form>
        <div class="login-redirect text-center mt-2">
          <p>
            Não possui um cadastro?
            <a
              class="text-decoration-none color-label"
              href="{% static 'pages/registro.html' %}"
              ><strong>Cadastre-se!</strong></a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>
  </body>
</html>

{% endblock %}
